/* Fonts */


@font-face {
    font-family: "Aspect Heavy";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/asp-hv.woff2") format("woff2");
    src: url("../css/fonts/asp-hv.woff2") format("woff2");
}



@font-face {
    font-family: "Pembroke Light";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/pem-lt.woff2") format("woff2");
    src: url("../css/fonts/pem-lt.woff2") format("woff2");
}

@font-face {
    font-family: "Pembroke Regular";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pem-rg.woff2") format("woff2");
    src: url("../css/fonts/pem-rg.woff2") format("woff2");
}

@font-face {
    font-family: "Pembroke Medium";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/pem-md.woff2") format("woff2");
    src: url("../css/fonts/pem-md.woff2") format("woff2");
}



@font-face {
    font-family: "Literata";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/literata/literata-regular.woff2") format("woff2"),
         url("fonts/literata/literata-regular.woff") format("woff"),
         url("fonts/literata/literata-regular.ttf") format("truetype");
}

@font-face {
    font-family: "Literata";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/literata/literata-medium.woff2") format("woff2"),
         url("fonts/literata/literata-medium.woff") format("woff"),
         url("fonts/literata/literata-medium.ttf") format("truetype");
}

@font-face {
    font-family: "Literata";
    font-style: normal;
    font-weight: 700;
    src: url("fonts/literata/literata-bold.woff2") format("woff2"),
         url("fonts/literata/literata-bold.woff") format("woff"),
         url("fonts/literata/literata-bold.ttf") format("truetype");
}



/* Algemeen */

body {
    background-color: #FFF;
    background-color: hsl(0, 0, 100%);
    margin: 0;
}

header label, a > b, button > span,
nav a span, article header span,
section:first-of-type > div > p:first-of-type span,
section:first-of-type article header,
section:first-of-type article > footer li:first-of-type span,
section:nth-of-type(2) article div:nth-of-type(2) footer span:nth-of-type(2),
aside a span {
   position: absolute;
   top: -99em;
   left: -99em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}




/* Pagina Header */

body > header {
    background-color: #06183D;
    background-color: hsl(220, 82%, 13%);
    height: 3.5em;
    transition: height 0.5s ease-in-out;
}

body > header div:first-of-type {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    padding: 0;
    transition: padding 0.5s ease-in-out;
}

body > header form {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top: 0.5em;
    margin-left: auto;
    margin-right: 0.5em;
    width: auto;
    -webkit-transition: width 0.75s ease;
    -moz-transition: width 0.75s ease;
    transition: width 0.75s ease;
}

body > header img:first-of-type {
    padding-right: 1.5em;
    height: 1.75em;
    margin: 0.75em 1em 0.35em 0.5em;
    transition: height 0.5s ease-in-out;
}

input[type="search"] {
    height: 1.4em;
    max-width: 11.5em;
    width: 0%;
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1em;
    border: none;
    -webkit-appearance: none;
    border-radius: 0;
    border-bottom: 0.15em solid transparent;
    background-color: rgba(0, 0, 0, 0.0);
    color: #FFF;
    color: hsl(0, 0%, 100%);
    -webkit-transition: border-color 0.75s ease, width 0.75s ease;
    -moz-transition: border-color 0.75s ease, width 0.75s ease;
    transition: border-color 0.25s ease, width 0.75s ease;
}

input[type="search"].zoeken {
    border-bottom: 0.15em solid #FFF;
    width: 100%;
}

input[type="search"]:focus {
    border-color: #FFE600;
}

header button, header button[type="submit"] {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    padding: 0em 0.5em;
}

header button, header button[type="submit"]:hover {
    cursor: pointer;
}

header button svg, header button[type="submit"] svg {
    fill: #FFF;
    width: 1.25em;
    height: 1.25em;
    transition: fill 0.25s ease, width 0.5s ease-in-out, height 0.5s ease-in-out;
}

header button:hover svg, header button[type="submit"]:hover svg {
    fill: #24B5C9;
}

nav {
    overflow: visible;
}

nav.verborgen {
    overflow: hidden;
}

nav a {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1em;
    color: #FFF;
    display: inline-flex;
    margin-top: 0.25em;
    margin-right: 0.5em;
    -webkit-transition: color 0.5s ease-out, margin-right 0.75s ease-in-out;
    -moz-transition: color 0.5s ease-out, margin-right 0.75s ease-in-out;
    transition: color 0.5s ease-out, margin-right 0.75s ease-in-out, font-size 0.5s ease-in-out;
}

nav a:hover {
    color: #24B5C9;
}

nav a.verborgen {
    color: transparent;
    margin-right: -4em;
}



/* Content */

main {
    max-width: 60em;
    margin: 0 auto;
}

main > article > header {
    background-color: #24B5C9;
}

main > article > header h1 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #FFF;
    padding-top: 0.5em;
    margin: 0 auto 0.25em 0.5em;
}

main > article > header div {
    display: flex;
    flex-direction: row;
}

main > article > header svg {
    width: 1.5em;
    height: 1.25em;
    fill: #FFF;
    margin: 0 0 0.75em 0.75em;
}

main > article header p {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 1em;
    color: #FFF;
    margin-left: 0.5em;
}



/* - Verhaal - */

/* Animaties */

@keyframes links-naar-rechts {
    0% {
        transform: translateX(0);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translateX(7.5em);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes rechts-naar-links {
    0% {
        transform: translateX(0);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translateX(-7.5em);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(0);
    }
}

@keyframes links-rechts-links {
    0% {
        transform: translateX(-25%);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: translateX(25%);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(-25%);
        animation-timing-function: ease-in-out;
    }
}

@keyframes links-boven-naar-rechts-boven {
    0% {
        transform: translate(-4em, -1em) rotate(10deg);
        animation-timing-function: ease;
    }

    50% {
        transform: translate(4em, -1em) rotate(-10deg);
        animation-timing-function: ease;
    }
    100% {
        transform: translate(-4em, -1em) rotate(10deg);
        animation-timing-function: linear;
    }
}

@keyframes links-onder-naar-rechts-onder {
    0% {
        transform: translate(8em, -1em) rotate(15deg);
        animation-timing-function: ease;
    }

    50% {
        transform: translate(-8em, -1em) rotate(-10deg);
        animation-timing-function: ease;
    }

    100% {
        transform: translate(8em, -1em) rotate(15deg);
    }
}

@keyframes rondom {
    0% {
        transform: rotate(0deg);
        animation-timing-function: linear;
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes normaal-groot-links {
    0% {
        transform: translateX(-50%) scale(1);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: scale(1.5);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(-50%) scale(1);
    }
}

@keyframes normaal-groot-rechts {
    0% {
        transform: translateX(50%) scale(1);
        animation-timing-function: ease-in-out;
    }

    50% {
        transform: scale(1.5);
        animation-timing-function: ease-in-out;
    }

    100% {
        transform: translateX(50%) scale(1);
    }
}

@keyframes midden-klein-links {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.65) skew(5deg) translateX(-4em);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes midden-klein-rechts {
    0% {
        transform: scaleY(1);
    }

    50% {
        transform: scaleY(0.65) skew(-5deg) translateX(2em);
    }

    100% {
        transform: scaleY(1);
    }
}

@keyframes rond-naar-small {
    0% {
        transform: scaleY(1);
    }

    25% {
        border-radius: 2em;
        transform: scaleY(0.75);
    }

    50% {
        border-radius: 2em;
        animation-timing-function: ease;
        max-width: 30em;
    }

    75% {
        border-radius: 2em;
        transform: scaleY(0.75);
        animation-timing-function: linear;
    }

    100% {
        transform: scaleY(1);
        animation-timing-function: ease-out;
    }

}

/* --------------------- */



main > article > div:first-of-type {
    background: no-repeat url(../images/verhalen/moe-mobile.jpg);
    background-size: 100%;
    background-position: 0% 0%;
}

main > article > div > p span {
    font-family: Literata, Georgia, serif;
    font-weight: 300;
    font-size: 0.5em;
    line-height: 1.5em;
    color: rgba(140,180,194, 0);
    border-radius: 10.5em;
    background: linear-gradient(rgba(140,180,194, 0.6), rgba(140,180,194, 0.2) 5em);
    box-shadow: 0em 2em 4em 1em rgba(140,180,194, 0.5);
    transition: box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
}




/* Alinea 1 */


main > article > div p:first-of-type {
    padding-top: 5em;
    display: flex;
    flex-direction: column;
}

main > article > div > p:first-of-type span:first-child {
    margin: 20% auto 0 5%;
    padding: 1em 0.5em;
    max-width: 20em;
    animation: links-naar-rechts 20s infinite;
}

main > article > div p:first-of-type span:first-child.open {
    font-size: 1.125em;
    color: #054B66;
    margin: 1em 0.5em 0 0.5em;
    max-width: 27.75em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.48) 70%);
    box-shadow: 0em 0em 5em 4em rgba(140,180,194, 0.5);
    animation: initial;
    transition: margin 0.5s ease, box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
}


main > article > div > p:first-of-type span:last-child {
    align-self: flex-end;
    font-size: 0.35em;
    margin: 8.5em 5% 0 auto;
    padding: 0.5em 0.5em;
    max-width: 35em;
    animation: rechts-naar-links 21s infinite;
}

main > article > div p:first-of-type span:last-child.open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 2em 0.5em 0 0.5em;
    max-width: 27.75em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    animation: initial;
}

/* --- Eind Alinea 1 --- */




/* Alinea 2 */


main > article > div p:nth-of-type(2) {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

main > article > div > p:nth-of-type(2) span:first-child {
    margin: 10em auto 0 auto;
    padding: 1em 0.5em;
    max-width: 20em;
    animation: links-boven-naar-rechts-boven 10s infinite;
}

main > article > div p:nth-of-type(2) span:first-child.open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 2em 0.5em 0 0.5em;
    max-width: 27.75em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    animation: initial;
}

main > article > div > p:nth-of-type(2) span:nth-child(2) {
    margin: 5em auto 0 auto;
    padding: 1em 0.5em;
    max-width: 10.5em;
    box-shadow: 0em 0em 4em 1em rgba(140,180,194, 0.5);
    animation: rondom 120s infinite;
}

main > article > div p:nth-of-type(2) span:nth-child(2).open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 0.5em 0.5em 0 0.5em;
    max-width: 27.75em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 1em rgba(140,180,194, 0.5);
    animation: initial;
}

main > article > div > p:nth-of-type(2) span:nth-child(3) {
    font-size: 0.25em;
    margin: 5em auto 0 20%;
    padding: 1em 0.5em;
    max-width: 16em;
    height: 16em;
    animation: normaal-groot-links 45s infinite;
}

main > article > div p:nth-of-type(2) span:nth-child(3).open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 0.5em 0.5em 5.5em 0.5em;
    max-width: 22.5em;
    height: 100%;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 1.5em 0.5em rgba(140,180,194, 0.5);
    transition: margin 0.5s ease, box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
    animation: initial;
}

main > article > div > p:nth-of-type(2) span:last-child {
    font-size: 0.25em;
    margin: -17.75em 20% 0 auto;
    padding: 1em 0.5em;
    max-width: 16em;
    height: 16em;
    animation: normaal-groot-rechts 45s infinite;
}

main > article > div p:nth-of-type(2) span:last-child.open {
    align-self: flex-end;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: -5.5em 0.5em 0 0.5em;
    max-width: 22.5em;
    height: 10%;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 1.5em 0.5em rgba(140,180,194, 0.5);
    transition: margin 0.5s ease, box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
    animation: initial;
}

/* --- Eind Ainea 2 --- */




/* Alinea 3 */


main > article > div p:nth-of-type(3) {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
}

main > article > div > p:nth-of-type(3) span:first-child {
    margin: 12.5em auto 0 auto;
    padding: 0.5em 0.5em;
    max-width: 27.5em;
    animation: links-onder-naar-rechts-onder 45s infinite;
}

main > article > div p:nth-of-type(3) span:first-child.open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 1em 0.5em 0 0.5em;
    max-width: 27em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    animation: initial;
}

main > article > div > p:nth-of-type(3) span:nth-child(2) {
    margin: 5em auto 0 5em;
    padding: 1em 0.5em;
    height: 12.5em;
    max-width: 12.5em;
    border-radius: 3em;
    animation: midden-klein-links 40s infinite;
}

main > article > div p:nth-of-type(3) span:nth-child(2).open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 1.5em 0.5em 8.5em 0.5em;
    height: 100%;
    max-width: 22.5em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    transition: margin 0.5s ease, box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
    animation: initial;
}

main > article > div > p:nth-of-type(3) span:nth-child(3) {
    margin: -14.5em 5em 0 auto;
    padding: 1em 0.5em;
    height: 12.5em;
    max-width: 12.5em;
    border-radius: 3em;
    animation: midden-klein-rechts 40s infinite;
}

main > article > div p:nth-of-type(3) span:nth-child(3).open {
    align-self: flex-end;
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: -7em 0.5em 0 0.5em;
    height: 100%;
    max-width: 22.5em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    transition: margin 0.5s ease, box-shadow 0.5s ease, font-size 2s ease, color 0.25s ease;
    animation: initial;
}

main > article > div > p:nth-of-type(3) span:last-child {
    margin: 5em auto 0 auto;
    padding: 0.5em 0.5em;
    max-width: 12.5em;
    height: 12.5em;
    animation: rond-naar-small 60s infinite;
}

main > article > div p:nth-of-type(3) span:last-child.open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 2em 0.5em 0 0.5em;
    height: 100%;
    max-width: 27em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 2em 2em rgba(140,180,194, 0.4);
    animation: initial;
}

/* --- Eind Ainea 3 --- */




/* Alinea 4 */


main > article > div p:last-of-type {
    margin-top: 5em;
    padding-bottom: 1.5em;
    display: flex;
    flex-direction: column;
}

main > article > div > p:last-of-type span:first-child {
    margin: 2.5em auto 0 auto;
    padding: 0.5em 0.5em;
    max-width: 35em;
    height: 5em;
    animation: links-rechts-links 90s infinite;
}

main > article > div p:last-of-type span:first-child.open {
    font-size: 1.125em;
    line-height: 1.5em;
    color: #054B66;
    margin: 3em 0.5em 1em 0.5em;
    height: 100%;
    max-width: 27em;
    border-radius: 0.5em;
    background: radial-gradient(rgba(84,154,175, 0.5), rgba(140,180,194, 0.4) 70%);
    box-shadow: 0em 0em 4em 4em rgba(140,180,194, 0.4);
    animation: initial;
}



main > article > div > p:last-of-type span:last-child {
    font-weight: 500;
    font-size: 1.75em;
    margin: 2em auto 1.5em auto;
    color: rgba(78,156,175, 0.8);
    border-radius: none;
    background: none;
    box-shadow: none;
    transition: none;
    transition: margin 0.5s ease, font-weight 0.5s ease, font-size 0.5s ease;
}

main > article > div p:last-of-type span:last-of-type:hover {
    cursor: initial;
    box-shadow: none;
}

main > article > div p span:hover {
    cursor: pointer;
    box-shadow: 0em 1.25em 4em 2em rgba(5,75,102, 0.25);
}

main > article > div > p:nth-of-type(2) span:nth-child(2):hover {
    box-shadow: 0em 0em 4em 2em rgba(5,75,102, 0.25);
}

/*---------------- */




main > article > footer {
    display: flex;
    flex-direction: row;
    border-bottom: solid 0.1em #F2F2F2;
}

main > article ol {
    margin: 0.75em auto 0.75em 1.25em;
}

main > article ol li {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 0.9em;
    color: #FFF;
    display: inline-flex;
    background-color: #55565A;
    padding: 0.25em 0.5em 0.35em 0.5em;
    border-radius: 0.25em;
}

main > article time {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 0.85em;
    color: #55565A;
    margin: auto 1.25em auto auto;
}



/* Recensies */

section:first-of-type {
    max-width: 60em;
    margin: 0 auto 1em auto;
}

section:first-of-type h2 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1.35em;
    color: #06183D;
    padding-top: 0.5em;
    margin: 0 auto 1em 0.8em;
}

section:first-of-type h2 span {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 0.85em;
}

section:first-of-type div:first-of-type {
    display: flex;
    flex-direction: row;
}

section:first-of-type div:first-of-type p {
    font-family: Aspect Heavy, Georgia, serif;
    font-weight: 900;
    font-size: 3em;
    color: #06183D;
    margin: 0 0.25em 0 0.35em;
}

section:first-of-type div:first-of-type div {
    display: flex;
    flex-direction: row;
    margin: 0 0 0 0.5em;
}

section:first-of-type div:first-of-type div svg {
    width: 1.75em;
    margin: 0 0.25em 0.5em 0;
}

section:first-of-type div:first-of-type div svg:nth-last-of-type(n+3),
section:first-of-type div:first-of-type div svg:nth-of-type(4) path:nth-child(1),
section:first-of-type article:first-of-type svg:nth-last-of-type(n+2),
section:first-of-type article:nth-of-type(2) svg:nth-last-of-type(n+3),
section:first-of-type article:nth-of-type(3) svg:nth-last-of-type(n+2)
{
    fill: #FFE600;
}

section:first-of-type div:first-of-type div svg:nth-of-type(5),
section:first-of-type div:first-of-type div svg:nth-of-type(4) path:nth-child(2),
section:first-of-type article:first-of-type svg:nth-last-of-type(1),
section:first-of-type article:nth-of-type(2) svg:nth-of-type(n+4),
section:first-of-type article:nth-of-type(3) svg:nth-last-of-type(1)
{
    fill: #D5D3BA;
}

section:first-of-type > p:first-of-type {
    display: flex;
    flex-direction: column;
    margin: 2.5em auto 2.5em auto;
}

section:first-of-type p:first-of-type > span:first-of-type {
    display: inline-flex;
    flex-direction: row;
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1em;
    justify-content: center;
    color: #55565A;
}

section:first-of-type p:first-of-type span:first-of-type span {
    margin: 0 0 0 0.5em;
}

section:first-of-type p:first-of-type span:first-of-type svg {
    width: 1.25em;
    margin-right: 0.25em;
    fill: transparent;
}

section:first-of-type p:first-of-type span:first-of-type svg:last-of-type {
    margin-right: 0em;
}

section:first-of-type p:first-of-type span:first-of-type svg path {
    stroke: #24B5C9;
    stroke-width: 0.15em;
    stroke-linecap: round;
}

section:first-of-type p:first-of-type span:nth-of-type(2) {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1em;
    margin: 1em auto;
    text-align: center;
}

section:first-of-type > p:first-of-type a {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

section:first-of-type p:first-of-type a:first-of-type svg {
    width: 1.5em;
}

section:first-of-type p:first-of-type a:first-of-type span {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1em;
    color: #24B5C9;
    margin: auto 1em;
}

section:first-of-type p:first-of-type a:first-of-type span:hover {
    text-decoration: underline;
    color: #109FB3;
}

section:first-of-type article {
    margin: 1em;
    padding: 1em;
    border: solid 0.1em rgba(36,181,201, 0.25);
    border-radius: 0.5em;
    min-width: 15em;
    max-width: 25em;
}

section:first-of-type article footer ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

section:first-of-type article footer ul li:last-of-type {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 0.85em;
    color: #55565A;
}

section:first-of-type article footer ul li:last-of-type time {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    color: #55565A;
    margin: 0;
}

section:first-of-type article svg {
    width: 0.75em;
}

section:first-of-type article p {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1.05em;
    color: #06183D;
    margin-top: 0.5em;
}

section:first-of-type > a:last-of-type {
    display: inline-flex;
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    color: #24B5C9;
    width: 100%;
    max-width: 28.5em;
    justify-content: center;
    margin: 0.5em auto 2em auto;
}

section:first-of-type >  a:last-of-type:hover {
    text-decoration: underline;
    color: #109FB3;
}



/* Verhalensuggesties */

section:nth-of-type(2) {
    max-width: 60em;
    margin: 0 auto;
}

section:nth-of-type(2) > h2 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #06183D;
    padding-top: 0.5em;
    margin: 0 auto 1em 0.8em;
}

section:nth-of-type(2) a {
    display: block;
    max-width: 30em;
}

section:nth-of-type(2) article {
    display: flex;
    flex-direction: row;
    margin: 1.25em 1.25em 0em 1.25em;
    min-width: 17em;
    border: 0.1em solid rgba(36,181,201, 0.25);
    border-radius: 0.5em;
    box-shadow: 0em 0.375em 0.5em rgba(36,181,201, 0.1);
    -webkit-transition: box-shadow 0.2s ease;
    -moz-transition: box-shadow 0.2s ease;
    transition: box-shadow 0.2s ease;
}

section:nth-of-type(2) article:hover {
    cursor: pointer;
    box-shadow: 0em 0.375em 0.5em rgba(36,181,201, 0.14), 0em 0em 0.75em rgba(36,181,201, 0.14);
}

section:nth-of-type(2) article > div:first-of-type {
    overflow: hidden;
    min-width: 6em;
    max-width: 6em;
    min-height: 8em;
    max-height: 8em;
    border-radius: 0.25em;
}

section:nth-of-type(2) a[href$="kids.html"] article > div:first-of-type {
    min-width: 6em;
    max-width: 6em;
    min-height: 8em;
    max-height: 10.5em;
}

section:nth-of-type(2) article div:first-of-type div img {
    object-fit: cover;
}

section:nth-of-type(2) a[href$="kids.html"] article div:first-of-type div img {
    margin: -0.25em -2.25em;
    height: 12em;
    width: 14em;
}

section:nth-of-type(2) a[href$="freudiaans.html"] article div:first-of-type div img {
    margin: -3em -1.75em;
    width: 10em;
}

section:nth-of-type(2) article div:nth-of-type(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 1em 0.5em 1em 0.75em;
}

section:nth-of-type(2) article div:nth-of-type(2) header h3 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1em;
    color: #06183D;
}

section:nth-of-type(2) article div:nth-of-type(2) footer {
    margin-top: 0.25em;
}

section:nth-of-type(2) article div:nth-of-type(2) footer div:first-of-type {
    display: flex;
}

section:nth-of-type(2) article div:nth-of-type(2) footer svg {
    width: 1.25em;
    height: 1.25em;
    fill: #55565A;
}

section:nth-of-type(2) article div:nth-of-type(2) footer span:first-of-type {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 0.85em;
    color: #55565A;
    margin: 0.15em 0 0 0.5em;
}

section:nth-of-type(2) article div:nth-of-type(2) footer ol {
    margin-top: 0.35em;
}

section:nth-of-type(2) article div:nth-of-type(2) footer ol li {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 0.75em;
    color: #FFF;
    display: inline-flex;
    background-color: #55565A;
    padding: 0.25em 0.5em 0.35em 0.5em;
    border-radius: 0.25em;
}



/* Footer */

body > footer {
    margin: 4em 0 1.5em 0;
    border-top: 0.1em solid #f2f2f2;
}

body > footer h2 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #06183D;
    margin: 1.25em auto 0 1em;
}

body > footer > ul {
    margin: 1em 0 2.5em; 0;
}

body > footer > ul li {
    margin: 0.25em auto 0.5em 1.25em;
}

body > footer > ul a {
    font-family: Pembroke Regular, Arial, serif;
    font-weight: 400;
    font-size: 1em;
    color: #24B5C9;
}

aside h3 {
    font-family: Pembroke Medium, Arial, serif;
    font-weight: 500;
    font-size: 1.25em;
    color: #06183D;
    margin: 0.5em auto 0 1em;
}

aside ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em auto 1em 0.9em;
}

aside li svg {
    margin-right: 1em;
    width: 1.5em;
    fill: #24B5C9;
    transition: fill 0.25s ease;
}

aside li:first-of-type svg {
    margin-right: 0.75em;
}

aside li:last-of-type path:nth-last-of-type(n+2) {
    fill: #FFF;
}

body > footer a:hover, body > footer a svg:hover {
    color: #109FB3;
    fill: #109FB3;
    text-decoration: underline;
}

body > footer p {
    font-family: Pembroke Light, Arial, serif;
    font-weight: 300;
    font-size: 0.85em;
    color: #55565A;
    margin: 2.5em auto 0em 1.5em;
}




/* Media Queries */


/* Verhaal */

@media (min-width: 27.5em) {

    main > article > div p:first-of-type span:first-child.open {
        margin: 10% 0.5em 0 0.5em;
    }

}

@media (min-width: 32em) {

    main > article > div p:first-of-type span:first-child.open {
        margin: 20% 0.5em 0 0.5em;
    }

}

@media (min-width: 34.5em) {

    main > article > div p:first-of-type span:first-child.open {
        margin: 20% auto 0 auto;
    }

    main > article > div p:first-of-type span:nth-child(2).open,
    main > article > div p:nth-of-type(2) span:first-child.open,
    main > article > div p:nth-of-type(2) span:nth-child(2).open,
    main > article > div p:nth-of-type(3) span:first-child.open,
    main > article > div p:nth-of-type(3) span:last-child.open,
    main > article > div p:last-of-type span:first-child.open {
        margin: 2em auto 0 auto;
    }



}

@media (min-width: 37.5em) {

    main > article > div:first-of-type {
        background: no-repeat url(../images/verhalen/moe-desktop.jpg);
        background-size: 100%;
        background-position: 0% 0%;
    }

    main > article > div > p:last-of-type span:last-child {
        margin: 1.5em auto 1em auto;
        font-weight: 600;
        font-size: 2em;
    }

}

@media (min-width: 56.25em) {

    main > article > div p:nth-of-type(2) span:nth-child(3).open {
        margin: 0.5em auto 5.5em 2%;
        height: 10.5em;
    }

    main > article > div p:nth-of-type(2) span:last-child.open {
        margin: -18em 2% 5.5em auto;
    }

    main > article > div p:nth-of-type(3) span:nth-child(2).open {
        margin: 1.5em auto 5.5em 2%;
    }

    main > article > div p:nth-of-type(3) span:nth-child(3).open {
        margin: -21em 2% 5.5em auto;
    }

}

@media (min-width: 60.5em) {

    main > article > div p:nth-of-type(2) span:nth-child(3).open {
        margin: 0.5em auto 5.5em 5%;
        height: 10.5em;
    }

    main > article > div p:nth-of-type(2) span:last-child.open {
        margin: -18em 5% 5.5em auto;
    }

    main > article > div p:nth-of-type(3) span:nth-child(2).open {
        margin: 1.5em auto 5.5em 5%;
    }

    main > article > div p:nth-of-type(3) span:nth-child(3).open {
        margin: -21em 5% 5.5em auto;
    }

}







/* Mobiel */

@media (max-width: 30em) {

    body > header form {
        width: 32.5%;
        -webkit-transition: width 0.75s ease;
        -moz-transition: width 0.75s ease;
        transition: width 0.75s ease;
    }

}

@media (min-width: 29.125em) {

    section:first-of-type p:first-of-type > span:first-of-type {
        justify-content: initial;
        margin: 0 5.1em;
    }

    section:first-of-type p:first-of-type span:nth-of-type(2) {
        text-align: initial;
        margin: 1em 14em;
    }

    section:first-of-type > p:first-of-type a {
        justify-content: initial;
        margin: 0 8.5em;
    }

    section:nth-of-type(2) article {
        max-width: 26.75em;
    }

}




/* Tablet */

@media (min-width: 37.5em) and (max-width: 60em) {

    body > header {
        height: 4em;
    }

    body > header div:first-of-type {
        padding: 0.25em 0;
    }

    body > header img:first-of-type {
        height: 2em;
    }

    header button svg, header button[type="submit"] svg {
        fill: #FFF;
        width: 1.5em;
        height: 1.5em;
    }

    nav a {
        font-size: 1.1em;
    }

}

@media (min-width: 37.5em) and (max-width: 65em) {

    body > footer {
        margin: 4em auto 1.5em auto;
        display: grid;
        grid-template-columns: auto 40% 40% auto;
        grid-template-rows: auto auto auto;
        grid-column-gap: 1.25em;
    }

    body > footer h2, body > footer > ul:first-of-type, body > footer p {
        grid-column: 2;
    }

    body > footer aside {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    body > footer h3 {
        margin-top: 1.25em;
    }

}





/* Desktop */

@media (min-width: 60em) {

    body > header {
        height: 5em;
    }

    body > header div:first-of-type {
        min-width: 58em;
        max-width: 60em;
        padding: 0.5em 0;
        margin: 0 auto;
    }

    body > header img:first-of-type {
        height: 2.5em;
    }

    header button svg, header button[type="submit"] svg {
        fill: #FFF;
        width: 1.5em;
        height: 1.5em;
    }

    nav a {
        font-size: 1.1em;
    }

}


@media (min-width: 65em) {

    body > footer {
        margin: 4em auto 1.5em auto;
        display: grid;
        grid-template-columns: 25% 18em 18em 25%;
        grid-template-rows: auto auto auto;
        grid-column-gap: 1.25em;
    }

    body > footer h2, body > footer > ul:first-of-type, body > footer p {
        grid-column: 2;
    }

    body > footer aside {
        grid-column: 3;
        grid-row: 1 / 3;
    }

    body > footer h3 {
        margin-top: 1.25em;
    }

}
