/* Fonts */


@font-face {
    font-family: "Aspect";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/asp-lt.woff2") format("woff2");
}

@font-face {
    font-family: "Aspect";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/asp-rg.woff2") format("woff2");
}

@font-face {
    font-family: "Aspect";
    font-style: normal;
    font-weight: 900;
    src: url("fonts/asp-hv.woff2") format("woff2");
}



@font-face {
    font-family: "Pembroke";
    font-style: normal;
    font-weight: 300;
    src: url("fonts/pem-lt.woff2") format("woff2");
}

@font-face {
    font-family: "Pembroke";
    font-style: normal;
    font-weight: 400;
    src: url("fonts/pem-rg.woff2") format("woff2");
}

@font-face {
    font-family: "Pembroke";
    font-style: normal;
    font-weight: 500;
    src: url("fonts/pem-md.woff2") format("woff2");
}





/* Algemeen */


body {
    margin: 0;
}

h1 {
   position: absolute;
   top: -99em;
   left: -99em;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}






/* Kleuren

#06183D       Donkerblauw
#24B5C9       Blauw
#B7C7C9       Lichtblauw
#FFE600       Geel
#55565A       Donkergrijs

---------- */




/* Documentatie */

body {
    background-color: #24B5C9;
}

article header {
    display: flex;
    flex-direction: column;
    background-color: #24B5C9;
}

article header svg {
    margin: 4em auto 0 auto;
    width: 22.5em;
}

article header p {
    font-family: Aspect, serif;
    font-weight: 300;
    font-size: 1.25em;
    color: #FFF;
    margin: 2em auto;
    text-align: center;
}

article header p:first-letter {
    text-transform: capitalize;
}

article > div:first-of-type {
    display: flex;
    flex-direction: column;
    max-width: 40em;
    margin: 4em auto 0 auto;
    border-radius: 0.75em;
    background-color: none;
}

article div:first-of-type h2 {
    font-family: Aspect, serif;
    font-weight: 900;
    font-size: 1.75em;
    color: #FF;
    margin: 1em auto 0 auto;
}

article div:first-of-type p {
    font-family: Pembroke, serif;
    font-weight: 400;
    font-size: 1em;
    line-height: 1.5em;
    color: #06183D;
    margin: 1em auto;
    padding: 0 2.5em;
}

article div:first-of-type p:last-of-type {
    margin: 0 auto 2em auto;
}

article ul:first-of-type {
    max-width: 45em;
    margin: 8em auto 0 auto;
    padding: 0 5em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-style: solid;
    border-width: 0 0.1em ;
    border-color: #FFE600 ;
}

article ul:first-of-type li {
    font-family: Pembroke, serif;
    font-weight: 500;
    font-size: 1.25em;
    margin: 0em;
}

article ul:first-of-type li:nth-of-type(2) {
    margin: 0 auto;
}

article ul:first-of-type li a {
    color: #FFF;
    border-radius: 0.25em;
    border: solid 0.05em transparent;
    padding: 0;
    transition: color 0.5s ease, border 0.25s ease, padding 0.5s ease, margin 0.5s ease;
}

article ul:first-of-type li a:hover {
    color: #FFF ;
    border: solid 0.05em #FFF;
    padding: 0.25em 0.5em;
}

article ul:first-of-type li a:first-of-type:hover,
article ul:first-of-type li a:last-of-type:hover{
    margin: 0 -0.5em;
}

article section:first-of-type {
    max-width: 80em;
    margin: 16em auto 0 auto;
    display: grid;
    grid-template-columns: 35em 35em;
}

article section:first-of-type h2,
article section:first-of-type p {
    grid-column: 1;
}

/* Heading small 
article section:first-of-type h2 {
    font-size: 1.5em;
    margin: 1em 10em 1em 0;
    border-bottom: solid 0.15em #FFE600;
}
-------------- */


article section:first-of-type h2 {
    font-family: Aspect, serif;
    font-weight: 400;
    font-size: 2em;
    color: #FFF;
    padding-bottom: 0.15em;
    margin: 0em 6em 0em 0;
    border-bottom: solid 0.1em #FFE600;
}

article section:first-of-type p {
    margin: 2em 6em 0 0;
    font-family: Pembroke, serif;
    font-weight: 300;
    font-size: 1.075em;
    line-height: 1.35em;
    color: #FFF;
}

article section:nth-of-type(2) {
    max-width: 80em;
    margin: 24em auto 0 auto;
    display: grid;
    grid-template-columns: 35em 35em;
}

article section:nth-of-type(2) h3:first-of-type,
article section:nth-of-type(2) p:nth-of-type(-n+2) {
    grid-column: 1;
}

article section:nth-of-type(2) h3:last-of-type,
article section:nth-of-type(2) p:nth-of-type(n+3),
article section:nth-of-type(2) div:first-of-type {
    grid-column: 2;
}

article section:nth-of-type(2) h2 {
    font-family: Aspect, serif;
    font-weight: 400;
    font-size: 2em;
    color: #FFF;
    grid-column: span 2;
    margin: 0 auto 2em auto;
    padding: 0 4em 0.15em 4em;
    border-bottom: solid 0.1em #FFE600;
}

article section:nth-of-type(2) h3 {
    font-family: Aspect, serif;
    font-weight: 400;
    font-size: 1.75em;
    color: #FFF;
    margin: 0 18em 0 0;
    border-bottom: solid 0.1em #FFE600;
}

article section:nth-of-type(2) p:nth-of-type(-n+2) {
    margin: 0.5em 6em 0 0;
    font-family: Pembroke, serif;
    font-weight: 300;
    font-size: 1.075em;
    line-height: 1.35em;
    color: #FFF;
}

article section:nth-of-type(2) p:nth-of-type(2) {
    margin: 2em 6em 0 0;
    font-family: Pembroke, serif;
    font-weight: 300;
    font-size: 1.075em;
    line-height: 1.35em;
    color: #FFF;
}

article section:nth-of-type(2) > div:first-of-type {
    grid-column: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border-radius: 0.5em;
    margin: 2em 0;
}

article section:nth-of-type(2) > div:first-of-type div {
    width: 6em;
    height: 3em;    
    margin: auto 2.6em;
    border-radius: 0.25em;
}

article section:nth-of-type(2) > div:first-of-type div:first-of-type {
    margin-left: 0;
    background-color: #06183D;
    box-shadow: 0em 0em 1em rgba(6, 24, 61, 0.2);
}

article section:nth-of-type(2) > div:first-of-type div:nth-of-type(2) {
    background-color: #FFE600;
    box-shadow: 0em 0em 1em rgba(255, 230, 0, 0.2);
}

article section:nth-of-type(2) > div:first-of-type div:last-of-type {
    background-color: #55565A;
    box-shadow: 0em 0em 1em rgba(85, 86, 90, 0.2);
}

